<launch>
    <include file="$(find linorobot)/launch/laser.launch" />

    <arg name="map_file" default="$(find linorobot)/maps/house.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <include file="$(find linorobot)/launch/amcl.launch" />
    
    <include file="$(find linorobot)/launch/move_base/move_base_$(env LINOBASE).launch" />
</launch>
